h1= @question.title
p= @question.body

-if current_user == @question.author
  =link_to 'Delete', question_path(@question),
                   method: :delete,
                   data: { confirm: 'Are you sure?' }

=render 'answers/form'

-if @question.answers
  =render  @question.answers