h1= @question.title
p= @question.body

-if current_user&.author_of?(@question)
  =link_to 'Delete', question_path(@question),
                   method: :delete,
                   data: { confirm: 'Are you sure?' }

=render 'answers/form'

.answers
  =render  @question.answers
